<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<style>

    * {
        text-align: center;
    }

    img {
        height: 100px;
        width: auto;
    }
    
</style>
<body>
    <div class="navigator">
        <a href="/new"><button>New Pokémon</button></a>
        <a href="/"><img src="https://cdn2.bulbagarden.net/upload/4/4b/Pok%C3%A9dex_logo.png" alt="Name Pokédex in yellow with blue borders"></a>
    </div>
</body>
</html>