<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>New Pokémon</title>
</head>

<body>
    <div class="bg"></div> 
    <header>
        <div>
            <%-include('nav.ejs')%>
        </div>      
    </header>
    <h1>Insert New Pokémon</h1>
    <section class="form">
        <form action="/submit" method="POST">
            <div>
                <label for="number"></label>
                <input type="number" name="number" id="number" placeholder="Number" required>
            </div>
            <div>
                <label for="poke"></label>
                <input type="text" name="poke" id="poke" placeholder="Pokémon Name" required>
            </div>
            <div>
                <label for="type1"></label>
                <input type="text" name="type1" id="type1" placeholder="Type 1">
            </div>
            <div>
                <label for="type2"></label>
                <input type="text" name="type2" id="type2" placeholder="Type 2 (if there is any)">
            </div>
            <div>
                <label for="image"></label>
                <input type="url" name="image" id="image" placeholder="URL for image">
            </div>
            <div>
                <label for="description"></label>
                <input type="text" name="description" id="description" placeholder="Description">
            </div>
            <div>
                <label for="height"></label>
                <input type="text" name="height" id="height" placeholder="Height">
            </div>
            <div>
                <label for="weight"></label>
                <input type="text" name="weight" id="weight" placeholder="Weight">
            </div>
            <div>
                <label for="category"></label>
                <input type="text" name="category" id="category" placeholder="Category">
            </div>
            <div>
                <label for="skill"></label>
                <input type="text" name="skill" id="skill" placeholder="Skill">
            </div>
            <button type="submit">Add Pokémon</button>
        </form>
    </section>
    <footer>

    </footer>    
    <script type="text/javascript" src="./js/script.js"></script>
</body>

</html>