* {
    font-family: 'Noto Sans Display', sans-serif;
}

p {
    padding: 0;
    margin: 0;
}

.bg {
    background: url('https://i.pinimg.com/originals/66/79/6d/66796dc4ff0ca03f74bd8d9e3fe129b6.gif');
    background-size: cover;
    height: max-content;
    position: relative;
    opacity: 0.3;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.pokeList {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.thumbPoke {
    border: rgba(137, 43, 226, 0.205) solid 1px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.356);
    align-items: center;
    padding: 10px;
    max-width: 150px;
}

.thumbPoke:hover {
    background-color: rgba(255, 255, 255, 0.801);
}

.imgPoke {
    margin: 5px;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

section#message {
    padding: 1.5rem;
    background-color: rgb(197, 255, 214);
    color: #004d04;
    position: fixed;
    bot: 3rem;
    left: 0;
    right: 0;
    z-index: 100;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  span#close {
    font-size: 2rem;
    cursor: pointer;
    transition: .3s;
  }
  
  span#close:hover{
    color: rgb(255, 0, 0);
    transform: scale(1.5);
  }